

@font-face {
  font-family: 'iransans';
  src: url('../fonts/iransansweb.ttf');
}
:root{
  font-family: 'iransans';
}
body {
  font-family: 'iransans',Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.dashboard-header {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.site-logo {
    width: 10%;
    max-width: 70px;
}
.main-menu {
  width: 70%;
}
.main-menu a {
  color: white;
  text-decoration: none;
  padding: 0 0.5rem;
  font-size: .9rem;
}

.user-menu {
  width: 20%;
  display: flex;
  align-items: center;
}

button.dropdown-button {
  font-family: 'iransans';
}

.user-name {
  margin-left: 10px;
}
.menu {
  position: relative;
}
.dropdown-button {
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  white-space: nowrap;
  border-radius: .3rem;
}
.menu:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.hero__sec {
     display: flex;
     background: #efeded;
     height: 400px;
     width: 90%;
     margin: 2rem auto;
     border-radius: 1rem;
 }

 .info__website {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid darkgray;
    gap: 1rem;
 }

 .content__info__website {
     width: 64%;
     padding: 0.3rem 1rem;
     overflow: scroll;
 }
 h2.info__website-title {
    font-size: 16px;
}

.website_contenct_table th{
    text-align: right;

}

.website_contenct_table th{
    text-align: right;

}


.website_contenct_table thead {
    background: #be6779;
    color: white;
}


/* Login form styles */
.container {
  display: flex;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
  margin: 2rem auto;
  padding: 2rem 1rem;
  background: #333;
  border-radius: 1rem;

}
form {
display: flex;
flex-direction: column;
gap: 1rem;

}

a.site_info__link {
    background: #be6779;
    padding: 0.3rem 0.5rem;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    border-radius: 0.3rem;
    font-size: 13.3px;
}

.login-form-title {
padding: 0;
margin: 0;
font-size: 1rem;
color: white;
text-align: center;
}

input {
  padding: .7rem;
  border-radius: .3rem;
  border: 1px solid #be6779;
  font-family: 'iransans';
  width: 100%;
}

button {
  padding: .7rem;
  background: #be6779;
  color: white;
  font-family: 'iransans';
  border-radius: .3rem;
  border: none;
}

.form-group{
display: flex;
justify-content: center;
}

footer {
    background: #333;
    padding: 1rem;
    display: flex;
    justify-content: center;
    color: white;
}


/* website list */

.site-list-table {
        border-collapse: collapse;
        width: 100%;
      }
      table.site-list-table tr:nth-child(even) {
        background-color: #eee;
      }
      thead tr {
        background: #be6779 !important;
        color: white;
      }

      th,
      td {
        padding: 8px;
        text-align: center;
      }

button {
        border: none;
        cursor: pointer;
      }
table.site-list-table input {
    width: 70%;
}

td.operations {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.form__login{
    width: 25%;
    background: #fff;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    }

.main_login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background: #333;
}
.logo__login__form {
    width: 50% !important;
    margin-bottom: 2rem;
}

.login__submit {
    background: #be6779;
    color: white;
    font-size: 15px;
    padding: 0.5rem;
    cursor: pointer
}

@media only screen and (max-width: 900px) {
.form__login{
width: 50%;
}

@media only screen and (max-width: 600px) {
.form__login{
width: 80%;
}


input.login__submit {
    background: #be6779;
    color: white;
    font-size: 15px;
}

.logo__login__form {
    width: 50%;
    margin-bottom: 2rem;
}

.website_contenct_table thead th {
    text-align: center;
}


